#span {
	font-family : monospace;
	font-size: 20px;
}

#button1 {
	font-family: monospace;
	font-size: 20px;
}
#myCanvas {
	position:fixed; /* Forces canvas to background */
	top:0px;
	left:0px;
	margin:0;
	padding:0;
	z-index:-1; 
  }